.card-subtitle {
    border-bottom: 1px solid #eee;
    font-size: 12px;
}

.card-content {
    display: flex;
    font-size: 12px;

}

.games-summary {
    margin: 5px 0;
}

.games-summary div {
    margin-bottom: 5px;
}

.btn {
    margin-top: 10px;
}